@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


@font-face {
  
  font-family: 'AlphaMusicMan';
  src: url("../fonts/AlphaMusicMan.ttf");
    
  font-family: 'DTNOTED';
  src: url("../fonts/DTNOTED_.TTF");

  font-family: 'moderat';
  src: url("../fonts/moderat_stylistic_set_01_bold.ttf");

}


*
{
  box-sizing: border-box;
  font-family:  'moderat';
  background-color: black;

}

#main_landing_container

{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;



}

#note {

  position: absolute;
 top: 100px;
  right: 100px; 

  transform: translate(-3000,550px);
  -webkit-transform: translate(-300,550px);
  -o-transform: translate(-300,350px); 
  -moz-transform: translate(-300,350px);


}

#key

{

  position: absolute;
  top: 500px;
  left: 50px


}

#title {

  font-size: 80px;
  color: white;
}


#sub_title {

  font-size: 40px;
  color: white;
}

#landing_button_container 

{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: 100px auto;
  
}

button
{
  width: 30%;
  color: white;
  font-size: 20px;
  padding: 20px;
}

#content_section

{

  color: white;
  font-size: 20px;
  width: 60%;
  margin: auto;
  padding: 20px;
}

#play_now

{

background-color: white;
color: black;

}