@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
  
  --key-color:rgb(103, 175, 103);
}

@font-face {
  
  font-family: 'AlphaMusicMan';
  src: url("../fonts/AlphaMusicMan.ttf");
    
  font-family: 'DTNOTED';
  src: url("../fonts/DTNOTED_.TTF");

  font-family: 'moderat';
  src: url("../fonts/moderat_stylistic_set_01_bold.ttf");

}

* {

  box-sizing: border-box;
  font-family:  'moderat'; 
}


#game_screen 

{
  display: grid;
  width: 98vw;
  height: 98vh;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

#game_screen >*, #game_screen >*>*

{

  border-radius: 5px;


}

footer
{

  border-radius: 5px;
}

#banner

{
  grid-column: span 3;
  grid-row: span 1; 
   display: flex;
  justify-content: space-between;
  /*align-items: center; */
  background-color: #21222A;
  color: white;
  
  
 

  }

  #title_and_level

  {
    display: flex;
    flex-direction: column;
      justify-content: center;
    align-items:flex-start;
  }

#level_text
{

  padding-left: 20px;
  color: white;
  font-size: 20px;
  margin: 0px 0px 10px 0px;

}
#title_text
{

  padding-left: 20px;
  color: white;
  font-size: 60px;
  margin: 5px 0px;
}

#picture

{

  grid-column: span 1;
  grid-row: span 3; 
  display: flex;
  background-color: #21222A;
  justify-content: center;
  margin: 0px 0px 0px 0px;


}

#text_description 

{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: span 1;
  grid-row: span 3; 
  padding: 0px 30px 10px 30px;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #21222A;
  color: white;

}

#text_description hr

{
  border-top: 1px solid gray;
  margin: 0px;

}

 #buttons_container {

  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:repeat(3, 1fr);
 
  padding-right: 30px;
  column-gap: 5px;

  width: 10%;
  height: 100px;
  text-align: right;

} 

#piece_button {

  grid-row:span 1;
  grid-column:span 4; 
  padding: 5px;
  font-size: 16px;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  color: #21222A;
  font-weight: bold;
  margin-top: 14px;
 

  

}

#tempo {

  grid-row:span 1;
  grid-column:span 4; 
  font-size: 20px;
  font-family: 'Encode Sans Expanded', sans-serif;
  padding: 16px 5px 5px 0px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: auto;
  font-size:16px;
  
  
}

#plus {

  grid-row:span 1;
  grid-column-start: 2;

  padding: 5px 10px;
  font-weight: bold;
 
  font-size: 16px;
  border-radius: 50px;

}

#minus {

  grid-row:span 1;
  grid-column-start: 3;
 
  padding: 5px 10px;
  font-weight: bold;
  margin: auto;
  font-size: 16px;

  border-radius: 50px;

}

button {

  margin: auto;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  


}

.inactive

{

  background-color: lightgray;
  color: gray;
}

.active 

{
  background-color: #21222A;
  color: white;
}

#game_outcomes

{
  
  grid-column: span 1;
  grid-row: span 3;
  display: grid;
  background-color: #21222A;
  grid-template-columns:repeat(15, 1fr);
  grid-template-rows:repeat(8, 1fr);
  margin: 0px 0px 0px 0px;
  
}


.outcome {

  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-color: #21222A;
  border-style: solid;
  color: white;
  grid-row: span 1;
  grid-column: span 1;

}

.progress

{

  grid-row: span 1;
  grid-column: span 1;
  background-color:rgb(0, 206, 163);
  margin: 0px;

}


.message 

{
  grid-column: span 15;
  grid-row: span 6;  
  display: flex;
  font-size: 60px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

}


#combo5, #combo10 {

  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
  /*background-color: lightgray; */
}

#game_outcomes footer

{

  display: flex;
  text-align: center;
  justify-content: center;
  background-color: color (255, 0, 74);
  text-align: center;
  align-items: center;
  border-style:solid;
  border-color: #21222A;
  color: white;
  background-color:rgb(255, 0, 74);
  padding: 0px;
}


#footer_bar

{

  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: 16;
  justify-content: center;
  display: flex;
 /* margin-right: 2px;
  margin-right: 2px; */

}

#footer_bar footer

{

  width: 33%;
  margin-bottom: 2px;
    

}

#progress_bar

{

  grid-row: span 1;
  grid-column: span 15;
  display: grid;
  grid-template-columns:repeat(100, 1fr);
  grid-template-rows: 1fr;
  background-color:rgb(201, 257, 247);
  margin: 5px;  

}

.note_success 

{
  background-color: rgb(0, 206, 163);


}

.note_failure {

  background-color:rgb(255, 0, 74);
}

.level_success {

  background-color: #21222A;
  grid-row: span 4;
  grid-column: span 15;
  display: flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  padding: 15px;

}

.perfect 

{

  background-color: #21222A;
  grid-row-start:3;
  grid-row: span 1;
  grid-column: span 15;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 15px;



}

#game_outcomes button {

  
  grid-row: span 2;
  grid-column-start: 3;
  grid-column-end: 14;
  width: auto;
  font-size: 20px;

}

#piano

{

  grid-column: span 3;
  grid-row: span 2;
  display: flex;
  border-top-style: solid;  
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 3px;
  background-color: #21222A;
   
}

.piano_octave

{
 
  /*height: 300px;*/
  width: 25%;
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #21222A;
                       
}

.white_key

{

  background-color: rgba(255, 255, 255, 0.925);
  grid-column: span 3;
  grid-row: span 6; 
  border-right-style: solid;
  border-radius: 3px;
  background-color: beige;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  
}

.border_adjust_right

{

  margin-right: -35%;
  

}

.border_adjust_left

{

  margin-left: -35%;

}

.black_key

{

  background-color: #21222A;
  grid-column: span 2;
  grid-row: span 4; 
  z-index: 1;

}

#test_zone {

  display: flex;
  padding: 40px;
  font: 40px;
  font-weight: bold;
}

.heartbeat {
	animation: heartbeat 0.8s ease-in-out alternate both;
}

.green

{
  background-color: rgb(103, 175, 103);

}

#test_zone_time_audio, #test_zone_time_transport { margin: 20px; }

.white_key p

{

  font-size: 10px;
 /* text-align: center; */
}

@keyframes heartbeat {

  from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
            background-color: white  }

  20% {
            transform: scale(0.91);
            animation-timing-function: ease-in;
            background-color: var(--key-color);
      }

  34% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
            background-color:white;
  }

  66% {
            transform: scale(0.87);
            animation-timing-function: ease-in;
            background-color: var(--key-color);
  }

  90% {
            transform: scale(1);
            animation-timing-function: ease-out;
            background-color:white;
       
  }

}

@keyframes slide-in-fwd-center {
  
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
    background-color: white  }

20% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
    background-color: var(--key-color);
}

34% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
    background-color:white;
}

66% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
    background-color: var(--key-color);
}

90% {
    transform: scale(1);
    animation-timing-function: ease-out;
    background-color:white;

}




}
