@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');


:root {
  
  --key-color:rgb(103, 175, 103);
}

@font-face {
  
  font-family: 'AlphaMusicMan';
  src: url('/fonts/AlphaMusicMan.ttf');

    
  font-family: 'DTNOTED';
  src: url('/fonts/DTNOTED_.TTF');

}

* {

  box-sizing: border-box;
  font-family:  'Encode Sans Expanded', sans-serif;
}


#game_screen 

{
  display: grid;
  width: 98vw;
  height: 98vh;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);

}

#banner

{
  grid-column: span 3;
  grid-row: span 1; 
  font-family: 'DTNOTED';

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 70px;
  margin-bottom: 10px;
}

#picture
{

  grid-column: span 1;
  grid-row: span 3; 

  display: flex;
  background-color: black;
  justify-content: center;
  margin: 0px 0px 10px 0px;


}

#text_description 

{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: span 1;
  grid-row: span 3; 
  padding: 0px 30px 10px 30px;
  font-size: 18px;
  background-image:url("../images/text_container_background.jpg");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 100% 100%;

}

#text_description hr

{
  border-top: 1px solid gray;
  margin: 0px;

}

#buttons_container {

  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  margin-bottom: 10px;
  background-color: lightgray;
}

button {

  margin: auto;
  width: 40%;
  font-size: 18px;
    border-radius: 10px;
  padding: 15px;
  font-weight: bold;
}


.inactive

{

  background-color: lightgray;
  color: gray;
}

.active 

{
  background-color: black;
  color: white;
}

#game_outcomes

{

  
  grid-column: span 1;
  grid-row: span 2;
  display: grid;
  background-color: black;
  grid-template-columns:repeat(15, 1fr);
  grid-template-rows:repeat(8, 1fr);
  margin: 0px 0px 10px 0px;
  
}


.outcome {

  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  color: white;
  grid-row: span 1;
  grid-column: span 1;

}

#game_outcomes footer

{

  display: flex;
  text-align: center;
  justify-content: center;
  background-color: red;
  padding-top: 5px;
  text-align: center;
  border-style:solid;
  border-color: black;
  color: white;
}


#footer_bar

{

  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: 16;
  justify-content: space-between;
  display: flex;
  

}

#footer_bar footer
{
width: 33%;

}








.note_success 

{
  background-color: green;


}

.note_failure {

  background-color: red;
}

.level_success {

  background-color: black;
  grid-row: span 4;
  grid-column: span 15;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 15px;

}

.perfect 

{

  background-color: black;
  grid-row: span 1;
  grid-column: span 15;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 15px;



}

#game_outcomes button {

  
  grid-row: span 2;
  grid-column-start: 3;
  grid-column-end: 14;
  width: auto;

}

#piano

{

  grid-column: span 3;
  grid-row: span 2;
  display: flex;
  border-top-style: solid;  
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 3px;
  background-color: black;
   
}

.piano_octave

{
 
  /*height: 300px;*/
  width: 25%;
  display: grid;
  grid-template-columns: repeat(31, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: black;
                       
}

.white_key

{

  background-color: rgba(255, 255, 255, 0.925);
  grid-column: span 3;
  grid-row: span 6; 
  border-right-style: solid;
  border-radius: 3px;
  background-color: white;

  
}

.border_adjust_right

{

  margin-right: -35%;
  

}

.border_adjust_left

{

  margin-left: -35%;

}

.black_key

{

  background-color: black;
  grid-column: span 2;
  grid-row: span 4; 
  z-index: 1;

}

#test_zone {

  display: flex;
  padding: 40px;
  font: 40px;
  font-weight: bold;
}

.heartbeat {
	animation: heartbeat 0.8s ease-in-out alternate both;
}

.green

{
  background-color: rgb(103, 175, 103);

}

#test_zone_time_audio, #test_zone_time_transport { margin: 20px; }

@keyframes heartbeat {

  from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
            background-color: white  }

  20% {
            transform: scale(0.91);
            animation-timing-function: ease-in;
            background-color: var(--key-color);
      }

  34% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
            background-color:white;
  }

  66% {
            transform: scale(0.87);
            animation-timing-function: ease-in;
            background-color: var(--key-color);
  }

  90% {
            transform: scale(1);
            animation-timing-function: ease-out;
            background-color:white;
       
  }

}
